* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(165, 122, 148);
}
.card {
  width: 700px;
  background: #ccc;
  padding: 20px;
  margin: 20px auto;
  font-family: sans-serif;
  line-height: 28px;
  border: 20px;
  text-align: center;
}
/*  scrollbar*/
::-webkit-scrollbar {
  background-color: transparent;
  width: 20px;
  border: 1px dashed white;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#d9afd9, #97d9e1);
  border-radius: 100px;
}
